body {
	background: url("../images/galaxy.jpg");
	background-size: 100%;
	padding-top: 70px;
	font-family: "Lato", Georgia, serif;
}

hr {
	width: 100%;
	border-top:1px solid #f8f8f8;
	border-bottom:1px solid rgba(0,0,0,0.2);
}

h1 {
	color: white;
	margin: 0;
	padding: 10px 20px;
	text-align: center;
}

h3 {
	color: white;
}

hr {
	border-top:1px solid #f8f8f8;
	border-bottom:1px solid rgba(0,0,0,0,2);
}

input {
	font-size: 18px;
	background: #f7f7f7;
	width: 100%;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	color: #2980b9;
	border: 3px solid  rgba(0, 0, 0, 0);
}

input:focus {
	background: white;
	border: 3px solid  #2980b9;
	outline: none;
}

span {
	color: white;
	font-size: 20px;
}

.title, .radiance, .dire {
	text-align: center;
}

.container.main {
	position: relative;
	background-color: black;
	padding: 20px 20px;
	border-radius: 10px;
}

.heroImgAndName {
	position: relative;
	display: inline;
	cursor: pointer;
}

.heroImg {
	opacity: 1;
	/*transition: .5s ease;
	backface-visibility: hidden;*/
}

.heroName {
	color: white;
	font-size: 10px;
	opacity: 0;
	display: inline;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 20%;
  /*transition: .5s ease;*/
}

.heroImgAndName:hover .heroImg {
	opacity: 0.3;
}

.heroImgAndName:hover .heroName {
	opacity: 1;
}

.main ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.main li {
	background: white;
	height: 40px;
	line-height: 40px;
	color: #666;
	font-size: 20px;
	padding-left: 20px;
	cursor: pointer;
}

.main li:nth-child(2n) {
	background: #f7f7f7;
}

.container {
	opacity: 0.9;
}

.main {
	background: white;
}

.navbar-inverse {
	background: #2c3e50;
	font-size: 120%;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
}

.navbar-inverse .navbar-nav>li>a:hover {
	background: #242424;
}

.navbar-inverse .navbar-brand {
	color: white;
}

.radianceWinStyle {
	color: darkgreen;
	font-size: 1.1em;
}

.direWinStyle {
	color: darkred;
	font-size: 1.1em;
}

.possibly {
	/*font-size: 1.1em;*/
	font-weight: 500;
}

.probably {
	/*font-size: 1.2em;*/
	font-weight: 600;
}

.definitely {
	/*font-size: 1.3em;*/
	font-weight: 700;
}

#content {
	text-align: center;
}

#submitButton {
	border-radius: 2px;
	width: 120px;
	height: 40px;
	line-height: 40px;
	color: orange;
	font-weight: bolder;
}

#submitButton:hover {
	background-color: gray;
}

#rateBar {
	margin: 140px auto;
}

#winningRate {
	height: 70px;
	width: 100%;
	background-color: #f25d2b;
	padding: 0;
}

#radiance {
	height: 100%;
	width: 0;
	background-color: #1a601d;
}

#dire {
	height: 100%;
	width: 0;
	background-color: #f25d2b;
}

#goBack {
	width: 50%;
	margin: 0 auto;
	opacity: 0;
}

#radianceBox div {
	float: right;
}

#direBox div {
	float: left;
}

#radianceText {
	text-align: right;
	color: #1a601d;
}

#direText {
	text-align: left;
	color: #f25d2b;
}

#oracalIcon {
	margin-left: 0;
	letter-spacing: 5px;
}

#oraclesWords {
	text-align: center;
	color: darkseagreen;
}
